@mixin ball($background, $duration) {
  height: 20vh;
  width: 10vw;
  border-radius: 50%;
  margin-bottom: 40px;
  background-color: $background;
  animation-name: sss;
  animation-duration: $duration;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}
body {
  .container {
    .ball1 {
      @include ball(red, 1000ms);
    }
    .ball2 {
      @include ball(blue, 900ms);
    }
    .ball3 {
      @include ball(yellow, 1500ms);
    }
  }
  @keyframes sss {
    50% {
      transform: translateX(80vw);
    }
    100% {
    }
  }
}
